import React, { useEffect, useState } from "react";
import Container from "../../../Components/ContainerControl";
import { {{properCase name}}Styled } from "./styles";

const {{properCase name}} = () => {
  return (
    <Container>
      <{{properCase name}}Styled>
       <h1>{{{properCase name}}}</h1>
      </{{properCase name}}Styled>
    </Container>
  );
};

export default {{properCase name}};
